* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navBar {
    height: 100vh;
    width: 10vw;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(53, 92, 125);
    font-family: 'Geo', sans-serif;
    padding: 1rem .5rem;
    text-align: center;
}
.navName {
    padding: .5rem 0;
    text-decoration: none;
    font-size: 24px;
    color: #c06c84;
    display: block;
}
a {
    padding: .5rem 0;
    text-decoration: none;
    font-size: 24px;
    color: #c06c84;
    display: block;
}
a:hover {
    color: #f67280;
}
.navBtn {
    color: #c06c84;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-family: 'Geo', sans-serif;
}
.theme {
    font-size: 20px;
    padding-bottom: .8rem;
}
.navBtn:hover {
    color: #f67280;
}
.sprite {
    background-color: transparent;
    min-width: 100px;
    padding-right: 5px;
}

@media (max-width: 1200px) {
    .sprite {
        min-width: 70px;
    }
    a, .theme, .navName {
        font-size: 1rem;
    }
}
@media (max-width: 800px) {
    .navBar {
        width: 12vw;
    }
    .sprite {
        padding-right: 1rem;
    }
    a, .theme, .navName {
        font-size: .8rem;
    }
}
@media (max-width: 500px) {
    .navBar {
        width: 15vw;
    }
    .sprite {
        display: none;
    }
}

/* https://colorhunt.co/palette/100885 */



