.loginWrapper {
    padding: 0 0 25vh 7vw;
    height: 100vh;
    font-family: 'Geo', sans-serif;
    background-color: #6c5b7b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.loginHeading {
    color: #f67280;
    font-size: 5rem;
    padding-bottom: 1rem;
}
.loginForm {
    text-align: center;
}
.loginInputs {
    background-color: #f67280;
    border: 2px solid #355c7d;
    height: 5vh;
    width: 15vw;
    margin: 5px;
    color: whitesmoke;
}
.loginInputs::placeholder {
    font-size: 1rem;
}

.loginInputs {
    background-color: #f67280;
    border: 2px solid #355c7d;
    height: 5vh;
    width: 15vw;
    margin: 5px;
    color: whitesmoke;
    font-size: 1.2rem;
    font-family: 'Geo', sans-serif;
    padding: 0 .5rem;
}
.goalPic {
    width: 50%;
    margin-right: 2.5vw;
}
.loginBtn {
    background-color: #f67280;
    height: 5vh;
    width: 10vw;
    border-radius: 5rem;
    border: none;
    margin-left: .5rem;
    color: white;
}

@media (max-width: 850px) {
    .loginInputs {
        width: 20vw;
        padding: 0 0.2rem;
    }
    .loginBtn {
        display: block;
        margin: 1rem 0 0 13rem;
        width: 15vw;
    }
}

@media (max-width: 700px) {
    .loginBtn {
        width: 20vw;
        margin: 1rem 0 0 12.5rem;
    }
}

@media (max-width: 530px) {
    .loginWrapper {
        padding: 0 0 25vw 20vw;
    }
    .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .loginInputs {
        width: 70vw;
    }
    .loginInputs::placeholder {
        padding: 0 5rem;
    }
    .loginBtn {
        width: 30vw;
        margin: 1rem 0 0 1rem;
    }
}