.goalPage {
    display: inline-block;
    font-family: 'Geo', sans-serif;
    background-color: #ffe6eb;
    border: 3px solid #6c5b7b;
    width: 25%;
    color: white;
    padding: .5rem;
}
.spanTitle1 {
    display: inline-block;
    color: black;
    padding: 3px 0;
    font-size: 22px;
    margin-right: 5px
}
.spanTitle2 {
    display: inline-block;
    color: #6c5b7b;
    padding: 3px 0;
    font-size: 22px;
    margin-left: 2px
}
label {
    color: black;
}
.toggles {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deleteBtn {
    background-color: red;
    color: white;
    height: 4vh;
    width: 8vw;
    font-family: 'Geo', sans-serif;
    font-size: 1rem;
    border: none;
    font-size: 20px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 1rem;
}

.deleteBtn:hover{
    background-color:#6c5b7b;
    transition-duration: 300ms;
}

@media (max-width: 1000px) {
    .goalPage {
        width: 100%;
        padding: 0;
    }
    .deleteBtn {
        display: block;
        width: 30%;
        padding: 0;
        margin: 0;
    }
}
