.goalPage {
    display: inline-block;
    font-family: 'Geo', sans-serif;
    background-color: #ffe6eb;
    border: 3px solid #6c5b7b;
    width: 25%;
    color: white;
    padding: .5rem;
}
.spanTitle1 {
    display: inline-block;
    color: black;
    padding: 3px 0;
    font-size: 22px;
}
.spanTitle2 {
    display: inline-block;
    color: #6c5b7b;
    padding: 3px 0;
    font-size: 22px;
}
label {
    color: black;
}
.toggles {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deleteBtn {
    background-color: red;
    color: white;
    height: 3vh;
    width: 5vw;
    font-family: 'Geo', sans-serif;
    font-size: 1rem;
    border: none;
}


