.profilePage {
    padding-left: 10vw;
    font-family: 'Geo', sans-serif;
    background-color: #c06c84;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.profileHeader {
    text-align: center;
    background-color: #6c5b7b;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileHeading {
    color: #f67280;
    font-size: 5rem;
}
.statContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6c5b7b;
    width: 75%;
    height: 55vh;
    text-align: center;
    border: 7px solid rgb(53, 92, 125);
    margin: 10% 0 0 12%;
    color: white;
}
.profileImg {
    width: 50%;
    padding-bottom: 10%;
    background: transparent;
}
.column, .column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.biggerText {
    font-size: 4rem;
}

@media (max-width: 750px) {
    .profileImg {
        width: 30%;
        padding-bottom: 0;
    }
    .statContainer {
        flex-direction: column;
        height: 70vh;
    }
    .column {
        flex-direction: row;
    }
}

@media (max-width: 500px) {
    .profileImg {
        width: 20%;
    }
    .profilePage {
        padding: 0 0 0 15vw;
    }
    .statTitle {
        font-size: 1.5rem;
    }
    .biggerText {
        font-size: 2rem;
        display: inline-block;
    }
}